.git
.github
.claude
.vscode
.dev-logs
.turbo
**/.turbo
**/node_modules
**/.medusa
**/.next
**/coverage
**/*.tsbuildinfo
**/.env
**/.env.*
!**/.env.template
apps/backend/static
apps/backend/uploads
apps/backend/test-photos
