NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
STOREFRONT_DEFAULT_HOSTNAME=shop-a.localhost
NEXT_PUBLIC_DEFAULT_REGION=ke
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Optional payment-provider public keys
NEXT_PUBLIC_STRIPE_KEY=
